{{!-- <section class="profile-page">
    {{#with user}}
    <div class="profile-card">
        <div class="top-section">
            <i class="message fas fa-envelope"></i>
            <i class="notif fas fa-bell"></i>
            <div class="pic">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvPnjeYyAvdnoC_gdZYcJJK_f9f8jZoieK1-JG4YLc3SES_JeHlBbhDEtlyiA2atnl2W0&usqp=CAU">
            </div>
            <div class="email">{{email}}</div>
        </div>

        <div class="bottom-section">
            <div class="social-media">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fas fa-link"></i>
            </div>
            <h2>Wishing List</h2>
        </div>
    </div>
    <div class="wish-books">
        <!--If there are wished books-->
        {{#if wishings}}
        {{#each wishings}}
        <div class="book">
            <div class="info-container-profile">
                <img src="{{imageUrl}}">
            </div>
            <div class="details-btn">
                <a href="/book/{{_id}}/details" class="details">Details</a>
            </div>
        </div>
        {{/each}}
        {{else}}
        <!--If there are no wished books-->
        <h2 class="no-record-in-profile">There are no book reviews found yet...</h2>
        {{/if}}
    </div>
    {{/with}}
</section> --}}


{{#with user}}
<section id="user">
    <div class="user-info">
        <div class="user-logo">
            <img src="/static/images/user-logo.webp">
        </div>
        <h1 class="user-email">{{email}}</h1>
        <h2 class="created-blogs-count">Total Created Blogs: {{blogs.length}}</h2>
        <h2 class="followed-blogs-count">Total Followed Blogs: {{follows.length}}</h2>
    </div>
</section>
<section class="profile-blogs">
    <div class="created-blogs">
        <h2 class="section-title">Created Blogs</h2>
        {{#if blogs}}
        {{#each blogs}}
        <div class="info">
            <h2 class="title">{{title}}</h2>
            <h4 class="genre">{{category}}</h4>
            <div class="see-more">
                <a href="/blog/{{_id}}/details">See More...</a>
            </div>
        </div>
        {{/each}}
        {{else}}
        <h2 class="no-blog-in-profile">You haven't published a blog yet...</h2>
        {{/if}}
    </div>
    <div class="followed-blogs">
        <h2 class="section-title">Followed Blogs</h2>
        {{#if follows}}
        {{#each follows}}
        <div class="info">
            <h2 class="title">{{title}}</h2>
            <h4 class="genre">{{category}}</h4>
            <div class="see-more">
                <a href="/blog/{{_id}}/details">See More...</a>
            </div>
        </div>
        {{/each}}
        {{else}}

        <h2 class="no-blog-in-profile">You have no blogs followed yet…</h2>

        {{/if}}
    </div>

</section>
{{/with}}